# Importing Data dan Inspection
1. mencetak lima data teratas saja,
2. mencetak info dataset.

In [4]:
import pandas as pd

In [5]:
df = pd.read_csv('https://storage.googleapis.com/dqlab-dataset/data_retail.csv' , sep=';')

In [6]:
print('Lima data teratas:')
print(df.head())

Lima data teratas:
   no  Row_Num  Customer_ID Product  First_Transaction  Last_Transaction  \
0   1        1        29531   Jaket      1466304274396     1538718482608
1   2        2        29531  Sepatu      1406077331494     1545735761270
2   3        3       141526     Tas      1493349147000     1548322802000
3   4        4       141526   Jaket      1493362372547     1547643603911
4   5        5        37545  Sepatu      1429178498531     1542891221530

   Average_Transaction_Amount  Count_Transaction
0                     1467681                 22
1                     1269337                 41
2                      310915                 30
3                      722632                 27
4                     1775036                 25

In [7]:
print('\nInfo dataset:')
print(df.info())

Info dataset:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100000 entries, 0 to 99999
Data columns (total 8 columns):
 #   Column                      Non-Null Count   Dtype
---  ------                      --------------   -----
 0   no                          100000 non-null  int64
 1   Row_Num                     100000 non-null  int64
 2   Customer_ID                 100000 non-null  int64
 3   Product                     100000 non-null  object
 4   First_Transaction           100000 non-null  int64
 5   Last_Transaction            100000 non-null  int64
 6   Average_Transaction_Amount  100000 non-null  int64
 7   Count_Transaction           100000 non-null  int64
dtypes: int64(7), object(1)
memory usage: 6.1+ MB
None

# Data Cleansing

Merubah kolom yang tidak bertipe datetime ke tipe data datetime

In [10]:
df = pd.read_csv('https://storage.googleapis.com/dqlab-dataset/data_retail.csv', sep=';')

In [11]:
# Kolom First_Transaction
df['First_Transaction'] = pd.to_datetime(df['First_Transaction']/1000, unit='s', origin='1970-01-01')

In [12]:
# Kolom Last_Transaction
df['Last_Transaction'] = pd.to_datetime(df['Last_Transaction']/1000, unit='s', origin='1970-01-01')

In [13]:
print('Lima data teratas:')
print(df.head())

Lima data teratas:
   no  Row_Num  Customer_ID Product             First_Transaction  \
0   1        1        29531   Jaket 2016-06-19 02:44:34.396000000
1   2        2        29531  Sepatu 2014-07-23 01:02:11.493999872
2   3        3       141526     Tas 2017-04-28 03:12:27.000000000
3   4        4       141526   Jaket 2017-04-28 06:52:52.546999808
4   5        5        37545  Sepatu 2015-04-16 10:01:38.530999808

               Last_Transaction  Average_Transaction_Amount  Count_Transaction
0 2018-10-05 05:48:02.608000000                     1467681                 22
1 2018-12-25 11:02:41.269999872                     1269337                 41
2 2019-01-24 09:40:02.000000000                      310915                 30
3 2019-01-16 13:00:03.911000064                      722632                 27
4 2018-11-22 12:53:41.529999872                     1775036                 25

In [14]:
print('\nInfo dataset:')
print(df.info())

Info dataset:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100000 entries, 0 to 99999
Data columns (total 8 columns):
 #   Column                      Non-Null Count   Dtype
---  ------                      --------------   -----
 0   no                          100000 non-null  int64
 1   Row_Num                     100000 non-null  int64
 2   Customer_ID                 100000 non-null  int64
 3   Product                     100000 non-null  object
 4   First_Transaction           100000 non-null  datetime64[ns]
 5   Last_Transaction            100000 non-null  datetime64[ns]
 6   Average_Transaction_Amount  100000 non-null  int64
 7   Count_Transaction           100000 non-null  int64
dtypes: datetime64[ns](2), int64(5), object(1)
memory usage: 6.1+ MB
None